---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Welcome to Martens Driving School 
				Helping You Drive With Confidence 🚗
			</h1>
			<p>
				At Martens Driving School, we believe learning to drive should feel comfortable, supportive, and stress-free. 
				Whether you’re just starting out or looking to sharpen your skills, we’re here to guide you every step of the way.
			</p>
			<p>
				As a local, family-run business, we take pride in offering personalized one-on-one lessons that focus on your needs, your pace, and your confidence behind the wheel.
				We’re not just here to teach you how to pass the test  we want you to feel safe, capable, and ready for real-life driving.
			</p>
			<p>Our Services:</p>
			<ul>
				<li>🚘 One-on-One Driving Lessons  $65/hour</li>
				<li>🚗 Road Test Car Rental  $100</li>
			</ul>
			<p>
				Learn in a relaxed, patient environment where we tailor each lesson to your comfort level and experience. 
				From the basics, to more advanced skills, we’ll help you gain confidence on the road.
			</p>
			<p>
				Hi, I’m Noemi Martens  owner and instructor at Martens Driving School! I’m an MPI-certified driving instructor and a certified Manitoba teacher with over ten years of classroom experience.
				Teaching has always been my passion, and I love helping students build their confidence both in and out of the car. Every lesson is patient, encouraging, and adapted to your needs. 
				I know that learning to drive can feel overwhelming at first, but together we’ll take it step by step  no rushing, no pressure.
			</p>
		</main>
		<Footer />
	</body>
</html>
