---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="prose">
			<h1> Welcome to Martens Driving School 🚗</h1>
			<p>
				Learning to drive should feel comfortable and supportive. At Martens Driving School, our goal is to help you become a safe and confident driver, not just someone who can pass a road test.
			</p>
			<p>
				We offer one on one driving lessons in a calm and patient environment. Every lesson is adapted to your experience level so you can learn at your own pace and feel confident behind the wheel.
			</p>
			<p>
				Martens Driving School proudly serves students in Steinbach and surrounding communities.
			</p>
			<h2>Driving Lessons and Services</h2>
			<ul>
				<li>🚘 One-on-One Driving Lessons  $80/hour</li>
				<li>🚗 Road Test Car Rental  $100</li>
			</ul>
			<p>
				Whether you are just starting to learn or preparing for your road test, lessons focus on real world driving skills that will help you feel comfortable on the road.
			</p>
			<h2>Meet Your Instructor</h2>
			<p>
				Hi, I’m Noemi Martens, owner and instructor at Martens Driving School.
				I am an MPI certified driving instructor and a certified Manitoba teacher with over 25 years of classroom teaching experience. Teaching has always been something I truly enjoy, and I love helping students gain confidence both in the classroom and behind the wheel.			</p>
			<h2>Book a Lesson</h2>
			<p>
				If you would like to schedule a lesson or have any questions, feel free to reach out.
			</p>

				Phone: (204) 371-7417
			</p>
			<p>
				Email: Martensdrivingschool@gmail.com
			</p>
		</main>
		<Footer />
	</body>
</html>
